<footer class="hero is-link footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href="#"><i class="fa fa-github fa-2x small-spaced"></i></a>
        <a href="#"><i class="fa fa-youtube fa-2x small-spaced"></i></a>
        <a href="#"><i class="fa fa-facebook-f fa-2x small-spaced"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      </div>
      <br>
      <p class="title is-6">
        <strong>My Rails Blog</strong> by Mykola Girnyi.
      </p>
    </div>
  </div>
</footer>