<nav class="navbar is-link">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <%= image_tag("logo.png", :alt => "Logo", :class => 'custom-height') %>
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active" href="../">
          Home
        </a>
        <a class="navbar-item" href="../categories">
          Explore
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Account
          </a>
          <div class="navbar-dropdown transparent">
            <a class="navbar-item">
              Dashboard
            </a>
            <a class="navbar-item">
              Profile
            </a>
            <a class="navbar-item">
              Settings
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Logout
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <%= form_tag(search_article_path, :method => "get") do %>  
            <div class="field has-addons">  
              <div class="control">  
                <%= search_field_tag :search, params[:search], placeholder: "Find an article", class: "input" %>  
              </div>  
              <div class="control">  
                <%= button_tag "Search", :class => 'button is-link',:name => nil%>  
              </div>  
            </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>