<section class="hero is-small is-fullheight">
  <div class='section is-medium'>
    <div class="container is-max-widescreen">
      <div class='control'>
        <h1 class="title is-2">Edit Article</h1>
        </br>
      </div>
      <%= render "form", article: @article %>
    </div>
  </div>
</section>