<section class="section is-medium">
  <div class="container has-text-centered">
    <h1 class="title is-1">My Rails Blog</h1>
    <h1 class="subtitle is-3">Search results for "<%=params[:search]%>"</h1>
  </div>
</section>
<div class="container">
  <div class="container is-max-desktop">
    <%= render @articles %>
    <div class='block'>
      <%= will_paginate @articles, renderer: @custom_paginate_renderer %>
    </div>
  </div>
</div>
