/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 @import "font-awesome";

 .hero{
  &.has-background{
    position: relative;
    overflow: hidden;
  }
  &-background{
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    &.is-transparent{
      opacity: 0.3;
    }
  }
}
.no-overflow{
  position: relative;
  overflow: hidden;
}
.spaced{
  margin-right: 1em;
}
.small-spaced{
  margin-right: 0.4em;
}
.is-bigger{
  font-size:150%;
}
.transparent{
  background-color: rgba(35, 102, 209, 0.5);
}
.custom-height{
  max-height: 2.5rem !important;
}